body {
 background-color: #fff;   
}
.header {
    background-color: #ff6348;
    margin: 0 auto;
    text-align: center;
}
h3#headerTitle {
    color: black;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.sidemenu {
    background-color: white;
    height: auto;
    border-top: 2px solid #ff6348;
    border-bottom: 2px solid #ff6348;
}
.nopad {
    padding: 0px;
    margin: 0px;
}
.sidemenu-option {
    margin-top: 5px;
    text-align: center;
    padding: 20px;
    transition: .2s all;
}
.sidemenu-option a {
    border: 0;
    text-decoration: none;
    color: black;
}
.sidemenu-option a:hover {
    border: 0;
    text-decoration: none;
    color: black;
}
.sidemenu-option:hover {
    background-color: #f5f6fa;
    border-left: 3px solid #ff6348;
    cursor: pointer;
}

p.sidemenup {
    font-weight: bold;
}

.core-content {
    margin: 10px 10px;
}
.panel {
    margin-top: 5px;
    text-align: center;
    padding: 30px 10px;
    background-color: #74b9ff;
    border: 3px solid #0984e3;
}
.panel:hover {
    cursor: pointer;
}
.slick-slide {
    height: auto;
    width: max-content;
}



/*HOME PAGE*/
.loggedIn {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 14;
    font-weight: bold;
}
.userStatus {
    display: relative;
}


.core-home-topRated {
    margin: 20px 20px;
}
.core-home-typeWrap {
    margin: 0 30px;
}
.core-home-subheader {
    margin: 10px;
}
.featResturaunt {
    margin: 0 auto;
    text-align: center;
}
.featCuisinep {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 60vw;
  max-width: 200px;
  margin: 0 auto;
  min-height: 4vh;
}
.button {
  right: 5;
  top: 2;
  color: #f7f7f7;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  background:linear-gradient(135deg, rgba(85,239,203,1) 0%,rgba(30,87,153,1) 0%,rgba(85,239,203,1) 0%,rgba(91,202,255,1) 100%);
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  overflow:hidden;
  transition: .3s;
 }
.button:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;
}
.button:hover {
    cursor: pointer;

    
}
.button:hover:after {
      width: 100%;
      left: 0;
}  
span#subtext {
    font-size: 10px;
    color: black;
}
span#sub2text {
    font-weight: bold;
    color: white;
    font-size: 14px;
    padding-bottom: 5px;
}
input#logout {
    border: 3px solid #FF5840;
    background: white;
    text-decoration: none;
}
input#logout:hover {
    cursor: pointer;
}


/* QUERY PAGE */
.queryDisplay {
    padding: 20px;
    height: 100%;
    position: absolute;
    right: 50px;
    top: 100px;
    display: none;
    width: 100%;
    background-color: white;
    border: 2px solid #ff6348;
    
}
.exitQuery {
    position: absolute;
    top: 2px;
    right: 2px;
}
.queryExitIcon {
    position: absolute;
    top: 5px;
    right: 5px;
}
.queryExitIcon:hover {
    cursor: pointer;
}



/* USER RESTURAUNT PAGE */
.selectEntry {
    margin: 0 auto;
    text-align: center;
    border: 1px solid #FF5840;
    transition: .2s all;
}
.selectEntry:hover {
    margin: 0 auto;
    text-align: center;
    border: 1px solid #FF5840;
    background-color: #FF5840;
    cursor: pointer;
}
.selectEntry p {
    padding: 15px;
}

/* add entries pop up forms */
/* User Register Form */

.addEntry {
		display: none;
}

.addEntry label {
		display: block;
		margin-bottom: 5px;
}

.addEntry input[type='text'],
.addEntry input[type='email'],
.addEntry input[type='password'] {
		display: block;
		width: 90%;
		padding: 10px;
		border: 1px solid #DDD;
		color: #666;
}

.addEntry .checkbox {
		margin-bottom: 10px;
		clear: both;
		overflow: hidden;
}


.tableD {       position: absolute;
                left: 1%;
    		    font-family: arial, sans-serif;
    		    border-collapse: collapse;
    		    width: 100%;
    
}
.trD {
    		    border: 2px solid #dddddd;
    		    text-align: center;
    		    padding: 2px;
}
.successNotify {

}
.successNotify p{
    color: white;
    font-weight: bold;
    font-size: 14px;
    background-color: #FF5840;
    padding: 10px 30px;
    border-radius: 6px;
    width: max-content;
}