.header {
    background-color: red;
    margin: 0 auto;
    text-align: center;
}
h3#headerTitle {
    color: black;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.sidemenu {
    
    height: auto;
}
.sidemenu-option {
    margin-top: 5px;
    margin: 0 auto;
    text-align: center;
    height: 80px;
    background-color: #fab1a0;
}

.core-panels {
    
}
.panel {
    margin-top: 5px;
    margin: 0 auto;
    text-align: center;
    height: 200px;
    background-color: #74b9ff;
    border: 3px solid #0984e3;
}